In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
data = pd.read_csv("../data/fake_news_dataset.csv")
data.head(100)

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,real
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,fake
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,fake
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,fake
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,fake
...,...,...,...,...,...,...,...
95,White worker west away always.,consumer leader perhaps list program music pul...,2023-07-13,Global Times,Desiree Long,Business,fake
96,Peace what poor popular site three trouble.,use arm and trip result mouth under tree Mr fi...,2024-10-23,Daily News,Allison Contreras,Science,real
97,Few ask that but.,smile mouth serious concern conference make me...,2022-05-25,NY Times,Heidi Mcclain,Science,real
98,Guess against receive doctor.,challenge poor in design different beyond hit ...,2023-12-22,BBC,Donna Martinez,Sports,fake
99,So myself a answer artist garden easy.,wind language strategy line book also fish ref...,2024-07-25,NY Times,Charles Torres,Science,fake

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     20000 non-null  object
 1   text      20000 non-null  object
 2   date      20000 non-null  object
 3   source    19000 non-null  object
 4   author    19000 non-null  object
 5   category  20000 non-null  object
 6   label     20000 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [8]:
data.describe()

,title,text,date,source,author,category,label
count,20000,20000,20000,19000,19000,20000,20000
unique,20000,20000,1096,8,17051,7,2
top,Foreign Democrat final.,more tax development both store agreement lawy...,2023-08-31,Daily News,Michael Smith,Health,fake
freq,1,1,32,2439,12,2922,10056

In [9]:
# missing values
data.isnull().sum()
data = data.dropna()
print(data.isnull().sum())

title       0
text        0
date        0
source      0
author      0
category    0
label       0
dtype: int64